<!DOCTYPE html>
<html>
<head>
	<title>Teste</title>
	<link rel="stylesheet" type="text/css" href="/assets?filename=tachyons.min.css" />
</head>
<body>

{{define "cartShipping"}}
	<tr>
		<td class="ba b--black-10 pa2 tc" colspan="2">Frete</td>
		<td class="ba b--black-10 pa2 tc">{{printf "%.2f" .}}</td>
	</tr>
{{end}}

{{define "cartTotal"}}
	<tr>
		<td class="ba b--black-10 pa2 tc" colspan="2">Total</td>
		<td class="ba b--black-10 pa2 tc">{{printf "%.2f" .}}</td>
	</tr>
{{end}}

{{define "cart"}}
<table class="collapse ba br2 b--black-10 pv2 ph3">
	{{range $k, $v := .Products}}
		<tr>
			<td class="ba b--black-10 pa2 tc">
				<form method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="index" value="{{$k}}">
					<button type="submit">x</button>
				</form>
			</td>
			<td class="ba b--black-10 pa2 tc">
				<strong>{{.Name}}</strong><br/>
				{{range $n, $m := .Options}}
					{{ if eq $m.Name "size" }}
					Tamanho: 
					{{end}}
					{{$m.Value}}
				{{end}}
			</td>
			<td class="ba b--black-10 pa2 tc">{{.Price}}</td>
		</tr>
	{{end}}
	{{template "cartShipping" .Shipping}}
	{{template "cartTotal" .Total}}
</table>
{{end}}

{{ if gt .Quantity 0 }}
{{template "cart" .}}
{{else}}
<p>Seu carrinho esta vazio</p>
{{end}}
<form method="post">
	<input type="hidden" name="sku" value="123" />
	<input type="hidden" name="name" value="Anel Redondo Legal" />
	<input type="hidden" name="price" value="100.2" />
	<input type="hidden" name="option_size" value="15" />
	<button type="submit">anel</button>
</form>

<form method="post">
	<input type="hidden" name="sku" value="402" />
	<input type="hidden" name="name" value="Colar Maneiro" />
	<input type="hidden" name="price" value="200.0" />
	<input type="hidden" name="option_size" value="25" />
	<button type="submit">colar</button>
</form>

<p><a href="/pagar/">pagar</a></p>

</body>
</html>