<!DOCTYPE html>
<html>
<head>
	<title>Teste</title>
	<link rel="stylesheet" type="text/css" href="/assets?filename=tachyons.min.css" />
</head>
<body>

	<ul>
	{{range $k, $v := .FormErrors}}
		<li>{{$v}}</li>
	{{end}}
	</ul>

	<p>{{.GeneralError}}</p>
	
	<form method="post">
	<p>nome completo<br/>
		<input type="text" name="name" />
	</p>
	<p>Email<br/>
		<input type="text" name="email" />
	</p>
	<p>password<br/>
		<input type="password" name="password" />
	</p>
	<p><input type="submit" /></p>
	</form>
</body>
</html>