<!DOCTYPE html>
<html>
<head>
	<title>Teste</title>
	<link rel="stylesheet" type="text/css" href="/assets/tachyons.min.css" />
</head>
<body>
	<form method="post">
		<p>Endereço<br/>
		<input type="text" name="street" /></p>
		
		<p>Número<br/>
		<input type="text" name="number" /></p>

		<p>Complemento<br/>
		<input type="text" name="complement" /></p>

		<p>Bairro<br/>
		<input type="text" name="district" /></p>

		<p>Cidade<br/>
		<input type="text" name="city" /></p>

		<p>Estado<br/>
		<input type="text" name="state" /></p>

		<input type="hidden" name="country" value="BRA" />

		<p>CEP<br/>
		<input type="text" name="postalCode" /></p>

		<p>
			<input type="submit" />
		</p>
	</form>
</body>
</html>